parameters:
	level: 5
	paths:
		- src
		- tests
	excludePaths:
	    - src/Events/Swow.php
	ignoreErrors:
	    -
	        path: src/Events/Fiber.php
	        messages:
	            - '#Property Workerman\\Events\\Fiber::\$driver has unknown class Revolt\\EventLoop\\Driver as its type.#'
	            - '#Call to static method getDriver\(\) on an unknown class Revolt\\EventLoop.#'
	            - '#Method Workerman\\Events\\Fiber::driver\(\) has invalid return type Revolt\\EventLoop\\Driver.#'
	            - '#Call to method .* on an unknown class Revolt\\EventLoop\\Driver.#'
	    -
	        path: src/Events/Event.php
	        reportUnmatched: false
	        messages:
	            - '#Call to an undefined method EventBase::+.#'
	    - path: src/Timer.php
	      message: '#Call to static method getSuspension\(\) on an unknown class Revolt\\EventLoop.#'
	    - path: src/Worker.php
	      messages:
	          - '#Constant LINE_VERSION_LENGTH not found.#'
