body {margin: 10px 0px}
.nav {
    margin-bottom: 10px;
}
.height-400{
	height:400px
}

.footer
{
	margin: 8px auto 0 auto;
	width: 100%;
	padding-bottom: 8px;
	color:#666;
}

.footer > a
{
	font-size:bold;
	color:#333;
}